@page
@model IndexModel
@{
    ViewData["Title"] = "SUBMISSION ASSIGNMENT";
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    <script src="~/js/site.js"></script>
}

<div class="text-center">
    <h1 class="display-4">VISUAL STUDIO HTML SUBMISSION ASSIGNMENT</h1>


    <iframe src="https://www.youtube.com/embed/gEPmA3USJdI">
    </iframe>
    <p>
        <button onclick="myMove()">Click Me to Move a Square</button>
    </p>

    <div id="myContainer">
        <div id="myAnimation"></div>
    </div>

</div>
